@emerald:registry=https://pkgs.dev.azure.com/cbre/_packaging/Emerald/npm/registry/
@emerald-react:registry=https://pkgs.dev.azure.com/cbre/_packaging/Emerald-React/npm/registry/
//pkgs.dev.azure.com/cbre/_packaging/Emerald/npm/registry/:_authToken=${AZURE_PAT}
//pkgs.dev.azure.com/cbre/_packaging/Emerald-React/npm/registry/:_authToken=${AZURE_PAT}